label {
    color: white;
    font-weight: bolder
}

body {
    background-color: lightSeaGreen;
    color: white;
    font-weight: bolder
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #111;
    -moz-box-shadow: 0 8px 6px -6px #111;
    box-shadow: 0 8px 6px -6px #111;
}

.container {
    height: 100%; 
    background-color: darkslategrey; 
    padding-top: 10px;
}

.json-text-area {
    min-height: 580px;
}

.swift-text-area {
    min-height: 480px;
}

input {
    margin-bottom: 10px;
}

.container {
    margin: 10px auto;
}

select {
  margin: 10px 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}